extends layout

block content
    h1 #{title}: #{bookinstance.imprint}

    p Do you really want to delete this book instance?

    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance.id )

      button.btn.btn-primary(type='submit') Delete
